<html>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
  <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet'>
  <link href='//fonts.googleapis.com/css?family=Roboto:100,300,700' rel='stylesheet' type='text/css'>

  <style type='text/css'>
    body {
      background: white;
      font-family: Roboto, sans-serif;
      font-size: 8px;
    }

    .table {
      float: left;
      width: 300px;
      height: 110px;
      max-height: 110px;
      border: 1px solid #eee;
      display: table;
      /*page-break-inside: avoid;*/
    }
    .table .column {
      display: table-cell;
      /*text-align: center;*/
      vertical-align: middle;
      /*line-height: 13em;*/
    }
    .table .column.left {
      width: 30%;
    }
    .table .column.right {
      width: 70%;
      padding: 10px;
    }
    .table .column.left img {
      width: 100%;
    }
  </style>

  <title>{{achievement.name}} Redeem Codes</title>
</head>
<body>
  {{#each redeemCodes}}
    <div class='table'>
      <div class='left column'>
        <img src='{{../qrcodeUrl}}/{{id}}'>
      </div>
      <div class='right column'>
        <h2>#{{index}} - {{../achievement.name}}</h2>
        <p><b>Redeem Code:</b><br>{{id}}</p>
        <a href='{{../redeemUrl}}/{{id}}'>{{../redeemUrl}}/{{id}}</a>
      </div>
    </div>
  {{/each}}
</body>
</html>